/* You'll probably want to add some styles here */
#map-container {
	height: 500px;
}

#page-title {
	text-align: center;
}

#map-explanation {
	text-align: center;
}

#hit {
	color: #E6BD30;
}

#killed {
	color: #A60000;
}